@import "../src/Tooltip.scss";
@import "../node_modules/bee-button/src/button.scss";
.margin-left-50{
	margin-left: 50px;
}
#tinperBeeDemo .u-tooltip{
	position: relative;
    display: inline-block;
}
.demo-tooltip .u-tooltip{
	position:relative;
	opacity:1;
	margin-right:20px;
	margin-top:20px;
	display:inline-block;
}
.demo-overlay-trigger .u-button{
	margin-right:50px;
}